body { line-height: 1.5; }

blockquote:before {
  position: absolute;
  content: "\bb";
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -.5rem;
  margin-left: -1rem;
  color: #008c9e;
}
blockquote {
  color: #9e9e9e;
  padding-left: 1rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  border-bottom: 1px solid #fafafa;
}
.header>.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}
.header>.description {
  font-family: 'Roboto', sans-serif;
  color: #9e9e9e;
  font-style: italic;
}

.incidents {}
.incidents>.loading {}

.incident { font-family: 'Roboto', sans-serif; }
.incident>.title {
  font-size: 1.75rem;
  line-height: 1;
  color: #000;
}

.incident>.affected {
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  color: #9e9e9e;
}
.incident>.affected>span {
  font-weight: bold;
}

.incident>.date {
    font-size: .75rem;
    color: #9E9E9E;
  }

.incident>.body {
  font-size: 1rem;
}
.incident>.body a {
  color: #008c9e;
}

.incident>.updates {
  font-size: 1rem;
}
.incident>.updates>a {
  color: #008c9e;
}
.incident>.updates>.update>.date {
  font-size: .75rem;
  color: #9E9E9E;
}

span.error{
  color: red;
}